/* navbar */
#navbar {
    padding: 0 0.5rem;
    justify-content: center;
}

#navbar .nav-logo {
    display: none;
}

#navbar .nav-menu ul li {
    font-size: 1.15rem;
    padding: 0.3rem 1rem;
}

#navbar .nav-menu ul li:nth-of-type(3) {
    padding-right: 1rem;
}

/* home */
#home img {
    margin-bottom: 1rem;
}

#home h1 {
    font-size: 3.75rem;
    line-height: 3.5rem;
    letter-spacing: 0.25rem;
    text-align: center;
}

#home h1 .col {
    background: linear-gradient(-70deg, #2188ff 10%, #db469f 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#home h1 .bla {
    display: none;
}

#home p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
}

/* what */
#what .what-items {
    display: flex;
    flex-direction: column;
}

#what .what-items:first-child {
    margin-top: 1rem;
}

#what .what-items:last-child {
    margin-bottom: 1rem;
}

#what .what-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 3rem);
    padding: 1rem;
    margin: 0.5rem 1.5rem;
    color: #9e9e9e;
    background: #303030;
    border-radius: 0.8rem;
}

#what .what-item .item-text {
    text-align: left;
}

#what .what-item .item-text h3 {
    margin-top: 0rem;
    font-size: 1.3rem;
}

#what .what-item i {
    font-size: 1.75rem;
    margin-right: 1rem;
}

/* contact */
#container {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.contact-content {
    flex: 1;
    padding: 1rem 0.5rem 0 1.5rem;
}

.contact-content h3 {
    width: calc(100% - 0.5rem);
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 0.5rem;
}

.contact-img {
    flex: 1;
    margin: 0 1.7rem 0 0;
}
