:root {
    --primary-color: #f6e0a7;
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.m-heading {
    font-size: 1.5rem;
    margin: 0.75rem 0;
}

/* navbar */
nav {
    background: #000;
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    max-width: 960px;
    margin: 0 auto;
    color: #eee;
}

#navbar .nav-logo {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
}

#navbar .nav-logo img {
    width: 30px;
}

#navbar .nav-logo span {
    color: var(--primary-color);
}

#navbar .nav-logo h1 {
    margin-left: 0.3rem;
}

#navbar .nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#navbar .nav-menu ul li {
    color: #9e9e9e;
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
}

#navbar .nav-menu ul li:nth-of-type(3) {
    padding-right: 0;
}

#navbar .nav-menu ul li:not(:nth-of-type(1)) {
    border-inline-start: 2px solid #303030;
}


/* header */
header {
    position: relative;
}

#home {
    height: 100vh;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url(../image/header-photo.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#home h1 {
    font-size: 4.5rem;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
    color: #fff;
}

#home h1 span.col {

    background: linear-gradient(-70deg, #db469f 10%, #2188ff 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#home p {
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
}

#home p span {
    padding: 0 15px;
}

#home p span:nth-of-type(odd) {
    border-inline-end: 2px solid #fff;
}

#home button {
    border: none;
    border-radius: 5px;
    background: #fff;
}

#home a {
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    padding: 0.5rem 1rem;
}

#home button:hover {
    background: var(--primary-color);
    border-radius: 5px;
}

#home button a:link,
#home button a:visited,
#home button a:hover,
#home button a:active {
    color: #000;
}

/* what */
#what {
    background: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}

#what .what-items {
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
}

#what .what-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 2rem);
    padding: 1.5rem;
    margin: 1rem;
    color: #9e9e9e;
    background: #303030;
    border-radius: 1rem;
}

#what .what-item:nth-of-type(-n+3) {
    position: relative;
    overflow: hidden;
    text-align: center;
}

#what .what-item:nth-of-type(-n+3) .top {
    position: absolute;
    right: -2.5rem;
    top: 0.7rem;
    font-size: 0.8rem;
    color: #fff;
    padding: 0.1rem 3rem;
    box-shadow: 0 1px 0 #000, 0 -1px 0 #f9f9f9;
    transform: rotate(45deg);
}

#what .what-item:nth-of-type(1) .top {
    background: #db469f;
}

#what .what-item:nth-of-type(2) .top {
    background: #64acff;
}

#what .what-item:nth-of-type(3) .top {
    background: #a746db;
}

#what .what-item h3 {
    background: linear-gradient(70deg, #a2facf 10%, #64acff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#what .what-item .item-text p {
    text-align: justify;
}

#what .what-item i {
    font-size: 2rem;
}

#what .what-item:nth-of-type(3n+1) i {
    color: #fadfa8;
}

#what .what-item:nth-of-type(3n+2) i {
    color: #bae5f5;
}

#what .what-item:nth-of-type(3n+3) i {
    color: #cdeebf;
}

#what #hot {
    position: relative;
}

#what #hot span {
    position: absolute;
    top: -0.3rem;
    color: #db469f;
    font-size: 1rem;
    margin-left: 0.3rem;
    animation: shake 2s infinite;
}

@keyframes shake {
    10% {
        transform: scale(1.1) rotate(5deg);
    }

    20% {
        transform: scale(1.1) rotate(-5deg);
    }

    30% {
        transform: scale(1.1) rotate(5deg);
    }

    40% {
        transform: none;
    }
}

/* Contact */
#contact {
    background: #090909;
}

#container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    max-width: 960px;
    box-sizing: border-box;
}

.contact-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0rem 0rem 0 1rem;
    text-align: left;
    flex: 1;
}

.contact-content h3 {
    width: calc(100% - 1.5rem);
    margin: 1rem 0;
    color: var(--primary-color);
    border-bottom: 2px solid #303030;
    padding-bottom: 0.5rem;
}

.contact-content li {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.contact-info i {
    font-size: 1rem;
    color: var(--primary-color);
    margin-right: 0.5rem;
}

.contact-info p {
    color: #7c7c7c;
}

.contact-img {
    margin: 0 1rem;
    flex: 2;
    background: url(../image/contact_bg.jpg) no-repeat center 30%/cover;
}

/* footer */
#footer {
    text-align: center;
    color: #7c7c7c;
    background: #000;
}

#footer p {
    padding: 0.5rem 0;
    border-top: 2px solid #1d1d1d;
}

#footer p span {
    color: var(--primary-color);
}
